/**
 * ============================================
 * DROPDOWN
 * Componente dropdown profesional
 * ============================================
 */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    &::after {
        display: inline-block;
        margin-left: 0.5em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $z-index-dropdown;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: $font-size-base;
    color: $text-primary;
    text-align: left;
    list-style: none;
    background-color: $bg-primary;
    background-clip: padding-box;
    border: $border-width solid $border-color;
    @include border-radius($border-radius);
    @include box-shadow($box-shadow-lg);
    
    &.show {
        display: block;
    }
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: $font-weight-normal;
    color: $text-primary;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    @include transition($transition-base);
    
    &:hover,
    &:focus {
        color: $text-primary;
        text-decoration: none;
        background-color: $bg-secondary;
    }
    
    &.active,
    &:active {
        color: $text-inverse;
        text-decoration: none;
        background-color: $color-primary;
    }
    
    &.disabled,
    &:disabled {
        color: $text-muted;
        pointer-events: none;
        background-color: transparent;
    }
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid $border-color;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    font-size: $font-size-sm;
    color: $text-muted;
    white-space: nowrap;
}

// ===== DROPDOWN POSITIONS =====
.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu-left {
    right: auto;
    left: 0;
}

