/**
 * ============================================
 * FORMS
 * Componentes de formulario profesionales
 * ============================================
 */

// ===== FORM GROUP =====
.form-group {
    margin-bottom: $spacer;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$grid-gutter-width * 0.5;
    margin-left: -$grid-gutter-width * 0.5;
    
    > .col,
    > [class*="col-"] {
        padding-right: $grid-gutter-width * 0.5;
        padding-left: $grid-gutter-width * 0.5;
    }
}

// ===== LABELS =====
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: $font-weight-medium;
    font-size: $font-size-sm;
    color: $text-primary;
}

.form-label {
    margin-bottom: 0.5rem;
    font-weight: $font-weight-medium;
    font-size: $font-size-sm;
}

// ===== FORM CONTROL =====
.form-control {
    display: block;
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-size: $input-font-size;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    color: $text-primary;
    background-color: $bg-primary;
    background-clip: padding-box;
    border: $input-border-width solid $border-color;
    @include border-radius($input-border-radius);
    @include transition($transition-base);
    
    @include form-control-focus();
    
    &::placeholder {
        color: $text-muted;
        opacity: 1;
    }
    
    &:disabled,
    &[readonly] {
        background-color: $bg-secondary;
        opacity: 1;
    }
    
    &:disabled {
        cursor: not-allowed;
    }
}

// ===== TEXTAREA =====
textarea.form-control {
    min-height: calc(1.5em + #{$input-padding-y * 2} + #{$input-border-width * 2});
    resize: vertical;
}

// ===== SELECT =====
select.form-control {
    &:not([size]):not([multiple]) {
        height: calc(1.5em + #{$input-padding-y * 2} + #{$input-border-width * 2});
    }
    
    &[size],
    &[multiple] {
        height: auto;
    }
}

// ===== CHECKBOX & RADIO =====
.form-check {
    position: relative;
    display: block;
    padding-left: 1.5rem;
}

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.5rem;
    
    &:disabled ~ .form-check-label {
        color: $text-muted;
        cursor: not-allowed;
    }
}

.form-check-label {
    margin-bottom: 0;
    cursor: pointer;
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: 1rem;
    
    .form-check-input {
        position: static;
        margin-top: 0;
        margin-right: 0.5rem;
        margin-left: 0;
    }
}

// ===== INPUT GROUPS =====
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    
    > .form-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
        
        &:not(:first-child) {
            @include border-top-left-radius(0);
            @include border-bottom-left-radius(0);
        }
        
        &:not(:last-child) {
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
        }
    }
}

.input-group-prepend,
.input-group-append {
    display: flex;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: $input-padding-y $input-padding-x;
    margin-bottom: 0;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    color: $text-primary;
    text-align: center;
    white-space: nowrap;
    background-color: $bg-secondary;
    border: $input-border-width solid $border-color;
}

.input-group-prepend {
    .input-group-text {
        @include border-top-right-radius(0);
        @include border-bottom-right-radius(0);
    }
}

.input-group-append {
    .input-group-text {
        @include border-top-left-radius(0);
        @include border-bottom-left-radius(0);
    }
}

// ===== VALIDATION =====
.form-control.is-valid {
    border-color: $color-success;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.is-invalid {
    border-color: $color-danger;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath d='m5.8 3.6.4.4.4-.4.4.4-.4.4.4.4-.4.4-.4-.4-.4.4-.4-.4.4-.4-.4-.4z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: $font-size-sm;
    color: $color-danger;
}

.is-invalid ~ .invalid-feedback {
    display: block;
}

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: $font-size-sm;
    color: $color-success;
}

.is-valid ~ .valid-feedback {
    display: block;
}

// ===== FORM SIZES =====
.form-control-lg {
    padding: 0.75rem 1rem;
    font-size: $font-size-lg;
    @include border-radius($border-radius-lg);
}

.form-control-sm {
    padding: 0.25rem 0.75rem;
    font-size: $font-size-sm;
    @include border-radius($border-radius-sm);
}

